$mainFont: 'Baloo 2', cursive;

$main-container-width: min(800px, calc(100vw - 48px));
$main-container-margin: 6px 24px;

@mixin bg-outline-color($background-color, $outline-color) {
    background-color: $background-color;
    outline-color: $outline-color;
}