$blob-side-margin: min(12px, 1vw);

.blobCard {
  --text-container-margin: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  outline: var(--outline-base-size) solid #000000;
  border-radius: var(--base-border-radius);
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #D9D9D9;
  // gap: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;

  &.left {
    flex-direction: row;

    .blobSide {
      margin: 0 $blob-side-margin;
    }
  }

  &.right {
    flex-direction: row-reverse;

    .blobSide {
      margin: 0 $blob-side-margin;
    }
  }

  &.bottom {
    --text-container-margin: min(16px, 5%) auto;
    flex-direction: column-reverse;
    width: 230px;

    .blobSide {
      margin: $blob-side-margin 0;
    }
  }

  &.red,
  &.green,
  &.hovered {
    outline-width: var(--outline-bold-size);
  }

  &.none {
    @include bg-outline-color(#D9D9D9, #000000);
  }

  &.hovered {
    background-color: #4fbddf;
  }

  &.red {
    @include bg-outline-color(#eea3a3, #c91f1f);
  }

  &.green {
    @include bg-outline-color(#a3eea3, #1fc91f);
  }

  &.hovered {
    outline-color: #4b7eeb;
  }
}

.textSide {
  font-size: 14px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: auto;

  line {
    z-index: 25;
    font-family: $mainFont;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    color: black;
  }

}

.blobSide {
  position: relative;
}

.stateImage {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 85%;
  opacity: 0.9;
  --translate: translate(-50%, -50%);
  transform: var(--translate) scale(1.5);
}

.stateImage.animate {
  animation: scaleDown 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
}

@keyframes scaleDown {
  0% {
    transform: var(--translate) scale(1.5);
  }

  100% {
    transform: var(--translate) scale(1);
  }
}