.blobGroup {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  gap: $gap-between-cards;
  width: calc(50% - ($gap-between-cards / 2));

  &.left {
    flex-direction: column;
  }

  &.right {
    flex-direction: column;

  }

  &.bottom {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

  }
}