.blobGroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  &.left {
    flex-direction: column;
  }

  &.right {
    flex-direction: column;

  }

  &.bottom {
    flex-direction: row;
  }
}