.check-button {
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 85%;
  transition: opacity 1s ease;
  transform: scale(1.5);
  opacity: 0;
}

.green .check-button.green,
.red .check-button.red,
.yellow .check-button.yellow {
  visibility: visible;
  opacity: 0.9;
  transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transform: scale(1);
}

.green {
  color: var(--medium-green);
}

.red {
  color: var(--bright-red);
}

.yellow {
  color: var(--dark-yellow);
}

.green .check-button.green,
.red .check-button.red,
.yellow .check-button.yellow {
  display: block;
}