.blobCard {
  display: flex;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  outline: 4px solid #000000;
  border-radius: 18px;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #D9D9D9;
  gap: 12px;
  cursor: pointer;
  transition: background-color 1s ease;
  width: 100%;
  box-sizing: border-box;

  &.left {
    flex-direction: row;

  }

  &.right {
    flex-direction: row-reverse;


  }

  &.bottom {
    flex-direction: column-reverse;
    width: 230px;
    height: 240px;

  }
}

.red,
.blue {
  outline-width: 6px;
}

.none {
  background-color: #D9D9D9;
}

.red {
  background-color: #eea3a3;
  outline-color: #c91f1f;

}

.blue {
  background-color: #c2fac7;
  outline-color: #1ed862;
}

.textSide {
  font-size: 14px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: auto;

  line {
    z-index: 25;
    font-family: $mainFont;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    color: black;
  }


}

.blobSide {
  position: relative;
}

.stateImage {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 85%;
  opacity: 0.9;
  --translate: translate(-50%, -50%);
  transform: var(--translate) scale(1.5);
}

.stateImage.animate {
  animation: scaleDown 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
}

@keyframes scaleDown {
  0% {
    transform: var(--translate) scale(1.5);
  }

  100% {
    transform: var(--translate) scale(1);
  }
}