.mainContainer {
  display: flex;
  width: $main-container-width;
  margin: $main-container-margin;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-between-cards);
}

.middleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.bottomControlsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}