.mainContainer {
  display: flex;
  width: $main-container-width;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap-between-cards;
}

.middleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}