.blobGroup {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--gap-between-cards);
  width: calc(50% - (var(--gap-between-cards) / 2));

  &.left {
    flex-direction: column;
  }

  &.right {
    flex-direction: column;

  }

  &.bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;

  }
}